<?xml version="1.0"?>
<!--
/**
* @author Dhirajkumar Deore    
* Copyright © 2018 Magento. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">                             
                <resource id="GiftRule_RuleList::giftrule_rulelist" title="Items" sortOrder="30" />                                                       
            </resource>
        </resources>
    </acl>
</config>
