<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <simpleshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Custom\Shipping\Model\Carrier\Shipping</model>
                <name>Frotune Shipping Method</name>
                <price>10.00</price>
                <uplimit>400.00</uplimit>
                <lowlimit>100.00</lowlimit>
                <title>Frotune Shipping Method</title>
            </simpleshipping>
        </carriers>
    </default>
</config>